<nav class="navbar nav-tabs justify-content-center navbar-dark bg-primary">
    <ul class="nav nav-fill">
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/home"]'> Inicio</a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/registrar-ayuda"]'>Registrar ayuda <span class="sr-only"></span></a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/pago-cuotas"]'>Registro de pago de cuotas <span class="sr-only"></span></a>
        </li>
        <li id="conBorde" class="nav-item">
            <a class="nav-link" [routerLink]='["/mostrar"]'>Mostrar <span class="sr-only"></span></a>
        </li>
    </ul>
</nav>