<section>
    <article>

        <div>
            <p id="intro"></p>
            <br>
            <p class="pespecial"></p>
        </div>
    </article>
</section>

<div class="cuerpo">
    <div class="container contenido" id="cuerpo">

        <h1 id="Titulos">
            <b>Ayudas que se brindan alos estudiantes</b>
        </h1>

        <div id="Texto">

            <p>
                La ayuda económica federal se puede utilizar para pagar gastos educativos, tales como la matrícula, el alojamiento y comida, los libros y los útiles del estudiante. Reglas a seguir. Las ayudas probablemente se compondrán de una combinación de subvenciones
                o becas (grants), préstamos y oferta de trabajo.
            </p>

            <br>
            <p>
                Están dirigidas a estudiantes que en el curso 2019 - 2020 se encuentren matriculados en alguno de los siguientes niveles: Enseñanzas universitarias conducentes a títulos oficiales de Grado y de Máster (incluidos los estudios de Grado y Máster cursados
                en los centros universitarios de la Defensa y de la Guardia Civil) Curso de preparación para acceso a la universidad de mayores de 25 años impartido por universidades públicas. Créditos complementarios o complementos de formación para
                acceso u obtención del título de Máster o Grado. Estas becas no incluyen ayudas a estudios privados, de postgrado, de doctorado, etc. Como hay muchos tipos de estudios y también, muchos lugares donde estudiar, existen otras becas y ayudas
                que van un poco más allá. Y es que estas becas son las más habituales y conocidas, pero existen otras que tal vez puedan interesarte más. Te contamos qué becas existen según quieras estudiar fuera, realizar prácticas o tareas de investigación.
            </p>
        </div>
    </div>
</div>